jasonteste/Workflow1.json
{
  "name": "My workflow 13",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate-evaluation",
        "options": {}
      },
      "id": "8ce55560-4fff-450f-a6c0-be35bf4a4c06",
      "name": "Webhook - Receber Avaliação",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -448,
        112
      ],
      "typeVersion": 2.1,
      "webhookId": "71032280-d211-4e83-b668-97853303d3f5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "067a6463-896e-4dbf-b182-260e1b47aa6d",
              "leftValue": "={{ $(\"Webhook - Receber Avaliação\").item.json.body.classification }}",
              "rightValue": "Fit Altíssimo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3fd3d27b-59b9-4df3-9184-c0d0996d4c15",
              "leftValue": "={{ $(\"Webhook - Receber Avaliação\").item.json.body.classification }}",
              "rightValue": "Fit Aprovado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4ae8c32f-67b2-4ef5-9285-d1e1087b5c26",
              "leftValue": "={{ $(\"Webhook - Receber Avaliação\").item.json.body.classification }}",
              "rightValue": "Fit Questionável",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9e16bbe3-c31a-4804-88eb-e34941a4df09",
      "name": "É Aprovado/Questionável?",
      "type": "n8n-nodes-base.if",
      "position": [
        -224,
        112
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fromEmail": "noreply@legal.com",
        "toEmail": "={{ $(\"Webhook - Receber Avaliação\").item.json.body.email }}",
        "subject": "🎉 Parabéns! Você foi APROVADO no FitScore LEGAL!",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 30px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 15px;\">\n  <!-- Header -->\n  <div style=\"text-align: center; color: white; margin-bottom: 30px;\">\n    <h1 style=\"font-size: 32px; margin: 0 0 10px 0; text-shadow: 2px 2px 4px rgba(0,0,0,0.3);\">🎉 PARABÉNS!</h1>\n    <h2 style=\"font-size: 24px; margin: 0; opacity: 0.9;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.name }}</h2>\n  </div>\n\n  <!-- Score Card -->\n  <div style=\"background: white; padding: 30px; border-radius: 12px; text-align: center; margin-bottom: 25px; box-shadow: 0 8px 25px rgba(0,0,0,0.15);\">\n    <div style=\"color: {{ $(\"Webhook - Receber Avaliação\").item.json.body.classification === 'Fit Altíssimo' ? '#16a34a' : $(\"Webhook - Receber Avaliação\").item.json.body.classification === 'Fit Aprovado' ? '#2563eb' : '#d97706' }}; font-size: 18px; font-weight: 600; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.classification }}</div>\n    \n    <div style=\"font-size: 64px; font-weight: bold; color: #2563eb; margin: 20px 0; text-shadow: 2px 2px 4px rgba(37,99,235,0.2);\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.fit_score }}</div>\n    \n    <div style=\"color: #6b7280; font-size: 16px; margin-bottom: 25px;\">pontos no FitScore™</div>\n    \n    <!-- Breakdown Scores -->\n    <div style=\"display: flex; justify-content: space-around; border-top: 2px solid #f3f4f6; padding-top: 20px;\">\n      <div style=\"text-align: center;\">\n        <div style=\"color: #374151; font-weight: bold; font-size: 20px;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.performance_scores ? Math.round((Object.values($(\"Webhook - Receber Avaliação\").item.json.body.performance_scores).reduce((a,b) => Number(a) + Number(b), 0) / Object.keys($(\"Webhook - Receber Avaliação\").item.json.body.performance_scores).length) * 10) / 10 : 0 }}</div>\n        <div style=\"color: #6b7280; font-size: 12px; text-transform: uppercase; margin-top: 5px;\">Performance</div>\n      </div>\n      <div style=\"text-align: center;\">\n        <div style=\"color: #374151; font-weight: bold; font-size: 20px;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.energia_scores ? Math.round((Object.values($(\"Webhook - Receber Avaliação\").item.json.body.energia_scores).reduce((a,b) => Number(a) + Number(b), 0) / Object.keys($(\"Webhook - Receber Avaliação\").item.json.body.energia_scores).length) * 10) / 10 : 0 }}</div>\n        <div style=\"color: #6b7280; font-size: 12px; text-transform: uppercase; margin-top: 5px;\">Energia</div>\n      </div>\n      <div style=\"text-align: center;\">\n        <div style=\"color: #374151; font-weight: bold; font-size: 20px;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.cultura_scores ? Math.round((Object.values($(\"Webhook - Receber Avaliação\").item.json.body.cultura_scores).reduce((a,b) => Number(a) + Number(b), 0) / Object.keys($(\"Webhook - Receber Avaliação\").item.json.body.cultura_scores).length) * 10) / 10 : 0 }}</div>\n        <div style=\"color: #6b7280; font-size: 12px; text-transform: uppercase; margin-top: 5px;\">Cultura</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Next Steps -->\n  <div style=\"background: rgba(255,255,255,0.95); padding: 25px; border-radius: 12px; margin-bottom: 20px;\">\n    {{ $(\"Webhook - Receber Avaliação\").item.json.body.classification === 'Fit Altíssimo' ? \n      '<h3 style=\"color: #166534; margin: 0 0 15px 0; font-size: 20px;\">🚀 Próximos Passos</h3><ul style=\"color: #166534; margin: 0; padding-left: 20px; line-height: 1.6;\"><li>Nossa equipe de RH entrará em contato em <strong>até 24 horas</strong></li><li>Prepare-se para uma conversa mais aprofundada sobre suas experiências</li><li>Tenha em mãos seu portfólio e projetos recentes</li></ul>' : \n      $(\"Webhook - Receber Avaliação\").item.json.body.classification === 'Fit Aprovado' ? \n      '<h3 style=\"color: #1e40af; margin: 0 0 15px 0; font-size: 20px;\">🎯 Próximos Passos</h3><ul style=\"color: #1e40af; margin: 0; padding-left: 20px; line-height: 1.6;\"><li>Nossa equipe de RH entrará em contato em <strong>até 48 horas</strong></li><li>Prepare-se para uma entrevista técnica</li><li>Manteremos seu perfil em nossa base de talentos</li></ul>' : \n      '<h3 style=\"color: #92400e; margin: 0 0 15px 0; font-size: 20px;\">💪 Desenvolvimento</h3><ul style=\"color: #92400e; margin: 0; padding-left: 20px; line-height: 1.6;\"><li>Continue se desenvolvendo nas áreas identificadas</li><li>Acompanhe nossas vagas futuras</li><li>Seu perfil ficará em nossa base para novas oportunidades</li></ul>' \n    }}\n  </div>\n\n  <!-- Footer -->\n  <div style=\"text-align: center; color: rgba(255,255,255,0.8); font-size: 14px;\">\n    <p style=\"margin: 0;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.classification === 'Fit Altíssimo' ? '✨ Você está entre os <strong>melhores candidatos</strong> avaliados!' : $(\"Webhook - Receber Avaliação\").item.json.body.classification === 'Fit Aprovado' ? '👏 Você demonstrou <strong>bom alinhamento</strong> com nossa cultura!' : '🌟 Continue <strong>evoluindo</strong> profissionalmente!' }}</p>\n    <p style=\"margin: 10px 0 0 0;\">© 2024 PSL LEGAL - FitScore™</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "b828259d-2f1f-4125-b039-6f59f0f1234b",
      "name": "Email - Aprovado",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        0,
        0
      ],
      "typeVersion": 2.1,
      "webhookId": "b628de36-54c9-4f21-88bc-fa738b764054",
      "credentials": {
        "smtp": {
          "id": "1HbJQb8JgvGPzjRx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@legal.com",
        "toEmail": "={{ $(\"Webhook - Receber Avaliação\").item.json.body.email }}",
        "subject": "📋 Resultado da sua avaliação FitScore LEGAL",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 30px; background-color: #f8f9fa; border-radius: 12px;\">\n  <!-- Header -->\n  <div style=\"text-align: center; margin-bottom: 30px; padding: 25px; background: linear-gradient(135deg, #6366f1, #8b5cf6); border-radius: 10px; color: white;\">\n    <h1 style=\"font-size: 28px; margin: 0 0 10px 0;\">Olá, {{ $(\"Webhook - Receber Avaliação\").item.json.body.name }}!</h1>\n    <p style=\"margin: 0; opacity: 0.9; font-size: 16px;\">Obrigado por participar do nosso processo seletivo</p>\n  </div>\n\n  <!-- Score Card -->\n  <div style=\"background: white; padding: 30px; border-radius: 10px; text-align: center; margin-bottom: 25px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n    <h2 style=\"color: #374151; margin-bottom: 20px;\">📊 Seu Resultado FitScore™</h2>\n    \n    <div style=\"font-size: 48px; font-weight: bold; color: #2563eb; margin: 20px 0;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.fit_score }}</div>\n    \n    <div style=\"display: inline-block; padding: 8px 20px; border-radius: 20px; font-weight: 600; background-color: #fee2e2; color: #991b1b;\">{{ $(\"Webhook - Receber Avaliação\").item.json.body.classification }}</div>\n  </div>\n\n  <!-- Message for Fora do Perfil -->\n  <div style=\"background: #fef2f2; border-left: 4px solid #ef4444; padding: 20px; border-radius: 0 8px 8px 0; margin-bottom: 25px;\">\n    <h3 style=\"color: #991b1b; margin: 0 0 10px 0;\">🔄 Não desista!</h3>\n    <p style=\"color: #991b1b; margin: 0; line-height: 1.6;\">Desta vez não houve match, mas continue se desenvolvendo. Processos seletivos são oportunidades de aprendizado e crescimento profissional!</p>\n  </div>\n\n  <!-- Development Areas -->\n  <div style=\"background: white; padding: 25px; border-radius: 8px; margin-bottom: 25px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">\n    <h3 style=\"color: #374151; margin: 0 0 15px 0;\">📈 Áreas de Desenvolvimento</h3>\n    <ul style=\"color: #6b7280; margin: 0; padding-left: 20px; line-height: 1.6;\">\n      <li>Continue investindo no seu desenvolvimento técnico</li>\n      <li>Busque experiências que ampliem seu conhecimento</li>\n      <li>Mantenha-se atualizado com as tendências do mercado</li>\n      <li>Considere cursos ou certificações na sua área</li>\n    </ul>\n  </div>\n\n  <!-- Encouragement -->\n  <div style=\"background: white; padding: 25px; border-radius: 8px; margin-bottom: 25px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">\n    <h3 style=\"color: #374151; margin: 0 0 15px 0;\">💪 Mensagem de Incentivo</h3>\n    <p style=\"color: #6b7280; margin: 0; line-height: 1.6;\">Lembre-se: cada processo seletivo é uma oportunidade única de aprendizado. Continue se dedicando ao seu crescimento profissional e não desista dos seus objetivos. Estamos sempre em busca de novos talentos!</p></div>\n\n  <!-- Footer -->\n  <div style=\"text-align: center; color: #6b7280; font-size: 14px; border-top: 1px solid #e5e7eb; padding-top: 20px;\">\n    <p style=\"margin: 0 0 5px 0;\">Este é um e-mail automático gerado pelo sistema FitScore™</p>\n    <p style=\"margin: 0;\">© 2024 PSL LEGAL</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "e26b94e6-c773-4268-b8f6-ae80e52133b8",
      "name": "Email - Padrão",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        0,
        224
      ],
      "typeVersion": 2.1,
      "webhookId": "2cb0a7af-7d92-4cb4-97a7-e78d506e98a3",
      "credentials": {
        "smtp": {
          "id": "1HbJQb8JgvGPzjRx",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receber Avaliação": {
      "main": [
        [
          {
            "node": "É Aprovado/Questionável?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Aprovado/Questionável?": {
      "main": [
        [
          {
            "node": "Email - Aprovado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Padrão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c758247c-0acf-4541-883a-7090fd5a9ea6",
  "meta": {
    "instanceId": "43c34b7cc32e1231de7edb497c4f89dd3c1e5bc7b751c2594d5c9f2c9f81ec845c34"
  },
  "id": "1nRkbuXAFtOHmxaO",
  "tags": []
}
