jasonteste/Workflow1.json
{
  "name": "Candidate Email Feedback System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate-evaluation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Webhook - Receber Dados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c7b3d2c1-9b1a-4f2e-8c3d-1a2b3c4d5e6f",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "Fit Altíssimo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d8c4e3d2-ac2b-5g3f-9d4e-2b3c4d5e6f7g",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "Fit Aprovado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Classificar Candidato",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "smtpApi",
        "fromEmail": "noreply@legaltech.com.br",
        "toEmail": "={{ $json.email }}",
        "subject": "🎉 Parabéns! Você foi APROVADO no processo seletivo da LEGAL",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Resultado - Processo Seletivo LEGAL</title>\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background-color: #f8fafc; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .email-card { background: white; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); overflow: hidden; }\n        .header { background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; text-align: center; padding: 40px 20px; }\n        .header h1 { margin: 0; font-size: 28px; font-weight: bold; }\n        .header p { margin: 10px 0 0 0; font-size: 16px; opacity: 0.9; }\n        .content { padding: 40px 30px; }\n        .score-section { text-align: center; margin: 30px 0; }\n        .score-circle { display: inline-block; width: 120px; height: 120px; border-radius: 50%; background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; text-align: center; line-height: 120px; font-size: 32px; font-weight: bold; margin: 20px; box-shadow: 0 4px 12px rgba(16, 185, 129, 0.3); }\n        .classification { display: inline-block; background: #d1fae5; color: #059669; padding: 12px 24px; border-radius: 25px; font-weight: bold; font-size: 16px; margin: 10px 0; }\n        .next-steps { background: #f0fdf4; border-left: 4px solid #10b981; padding: 20px; margin: 30px 0; border-radius: 0 8px 8px 0; }\n        .footer { background: #f8fafc; text-align: center; padding: 30px; color: #6b7280; font-size: 14px; border-top: 1px solid #e5e7eb; }\n        .btn { display: inline-block; background: #10b981; color: white; padding: 14px 28px; text-decoration: none; border-radius: 8px; font-weight: bold; margin: 20px 0; }\n        .highlight { background: #fef3c7; padding: 2px 6px; border-radius: 4px; font-weight: bold; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"email-card\">\n            <div class=\"header\">\n                <h1>🎉 APROVADO!</h1>\n                <p>Processo Seletivo LEGAL - Resultado Final</p>\n            </div>\n            \n            <div class=\"content\">\n                <p>Olá <strong>{{ $json.name }}</strong>,</p>\n                \n                <p>É com <span class=\"highlight\">grande satisfação</span> que informamos que você foi <strong>APROVADO</strong> em nosso processo seletivo!</p>\n                \n                <div class=\"score-section\">\n                    <div class=\"score-circle\">{{ $json.fit_score }}</div>\n                    <div class=\"classification\">{{ $json.classification }}</div>\n                    <p><strong>Sua pontuação final:</strong> {{ $json.fit_score }} pontos</p>\n                </div>\n                \n                <p>Seu perfil demonstrou excelente alinhamento com:</p>\n                <ul>\n                    <li>✅ <strong>Performance</strong> - Experiência técnica e qualidade de entregas</li>\n                    <li>✅ <strong>Energia</strong> - Disponibilidade e capacidade de cumprir prazos</li>\n                    <li>✅ <strong>Cultura LEGAL</strong> - Valores de transparência, colaboração e inovação</li>\n                </ul>\n                \n                <div class=\"next-steps\">\n                    <h3>🚀 Próximos Passos</h3>\n                    <p>Nossa equipe de RH entrará em contato em até <strong>2 dias úteis</strong> para:</p>\n                    <ul>\n                        <li>Detalhar a posição e responsabilidades</li>\n                        <li>Alinhar expectativas e condições</li>\n                        <li>Definir a data de início</li>\n                    </ul>\n                </div>\n                \n                <p>Estamos muito animados para tê-lo(a) em nossa equipe! 🎊</p>\n                \n                <p>Bem-vindo(a) à família LEGAL! 💙</p>\n            </div>\n            \n            <div class=\"footer\">\n                <p><strong>LEGAL - Tecnologia Jurídica</strong></p>\n                <p>Este é um e-mail automático. Em caso de dúvidas, responda este e-mail.</p>\n                <p>© 2025 LEGAL. Todos os direitos reservados.</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-2345-678901bcdefg",
      "name": "Email - APROVADO",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "smtpApi",
        "fromEmail": "noreply@legaltech.com.br",
        "toEmail": "={{ $json.email }}",
        "subject": "📋 Resultado da sua avaliação - Processo Seletivo LEGAL",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Resultado - Processo Seletivo LEGAL</title>\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background-color: #f8fafc; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .email-card { background: white; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); overflow: hidden; }\n        .header { background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%); color: white; text-align: center; padding: 40px 20px; }\n        .header.questionavel { background: linear-gradient(135deg, #f59e0b 0%, #d97706 100%); }\n        .header.reprovado { background: linear-gradient(135deg, #ef4444 0%, #dc2626 100%); }\n        .header h1 { margin: 0; font-size: 28px; font-weight: bold; }\n        .header p { margin: 10px 0 0 0; font-size: 16px; opacity: 0.9; }\n        .content { padding: 40px 30px; }\n        .score-section { text-align: center; margin: 30px 0; }\n        .score-circle { display: inline-block; width: 120px; height: 120px; border-radius: 50%; color: white; text-align: center; line-height: 120px; font-size: 32px; font-weight: bold; margin: 20px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); }\n        .score-circle.questionavel { background: linear-gradient(135deg, #f59e0b 0%, #d97706 100%); }\n        .score-circle.reprovado { background: linear-gradient(135deg, #ef4444 0%, #dc2626 100%); }\n        .classification { display: inline-block; padding: 12px 24px; border-radius: 25px; font-weight: bold; font-size: 16px; margin: 10px 0; }\n        .classification.questionavel { background: #fef3c7; color: #d97706; }\n        .classification.reprovado { background: #fecaca; color: #dc2626; }\n        .feedback-section { background: #f8fafc; border-radius: 8px; padding: 20px; margin: 30px 0; }\n        .footer { background: #f8fafc; text-align: center; padding: 30px; color: #6b7280; font-size: 14px; border-top: 1px solid #e5e7eb; }\n        .highlight { background: #fef3c7; padding: 2px 6px; border-radius: 4px; font-weight: bold; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"email-card\">\n            <div class=\"header {{ $json.classification === 'Fit Questionável' ? 'questionavel' : 'reprovado' }}\">\n                <h1>{{ $json.classification === 'Fit Questionável' ? '📋 Avaliação Concluída' : '📋 Processo Finalizado' }}</h1>\n                <p>Processo Seletivo LEGAL - Resultado Final</p>\n            </div>\n            \n            <div class=\"content\">\n                <p>Olá <strong>{{ $json.name }}</strong>,</p>\n                \n                <p>Agradecemos seu interesse em fazer parte da equipe LEGAL e o tempo dedicado ao nosso processo seletivo.</p>\n                \n                <div class=\"score-section\">\n                    <div class=\"score-circle {{ $json.classification === 'Fit Questionável' ? 'questionavel' : 'reprovado' }}\">{{ $json.fit_score }}</div>\n                    <div class=\"classification {{ $json.classification === 'Fit Questionável' ? 'questionavel' : 'reprovado' }}\">{{ $json.classification }}</div>\n                    <p><strong>Sua pontuação final:</strong> {{ $json.fit_score }} pontos</p>\n                </div>\n                \n                <div class=\"feedback-section\">\n                    <h3>📊 Feedback Detalhado</h3>\n                    {{ $json.classification === 'Fit Questionável' ? \n                    '<p>Seu perfil apresentou pontos positivos, mas algumas áreas precisam de desenvolvimento para alinhamento total com nossa cultura:</p>' : \n                    '<p>Agradecemos sua participação. Embora seu perfil não tenha se adequado aos requisitos desta posição específica:</p>' }}\n                    \n                    <ul>\n                        <li><strong>Performance:</strong> Experiência técnica e qualidade de entregas</li>\n                        <li><strong>Energia:</strong> Disponibilidade e gestão de prazos</li>\n                        <li><strong>Cultura LEGAL:</strong> Alinhamento com nossos valores</li>\n                    </ul>\n                </div>\n                \n                {{ $json.classification === 'Fit Questionável' ? \n                '<p>Recomendamos que continue desenvolvendo suas habilidades e fique atento(a) a futuras oportunidades em nossa empresa.</p>' : \n                '<p>Encorajamos você a se candidatar novamente em futuras oportunidades que surgirem em nossa empresa.</p>' }}\n                \n                <p>Desejamos muito sucesso em sua jornada profissional! 🚀</p>\n            </div>\n            \n            <div class=\"footer\">\n                <p><strong>LEGAL - Tecnologia Jurídica</strong></p>\n                <p>Este é um e-mail automático. Em caso de dúvidas, responda este e-mail.</p>\n                <p>© 2025 LEGAL. Todos os direitos reservados.</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-3456-789012cdefgh",
      "name": "Email - NÃO APROVADO",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "operation": "insert",
        "tableId": "candidates",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "email", 
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "fit_score",
              "fieldValue": "={{ $json.fit_score }}"
            },
            {
              "fieldId": "classification",
              "fieldValue": "={{ $json.classification }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-4567-890123defghi",
      "name": "Salvar no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Workflow was started\",\n  \"candidate\": \"{{ $json.name }}\",\n  \"classification\": \"{{ $json.classification }}\",\n  \"score\": {{ $json.fit_score }},\n  \"email_sent\": true,\n  \"saved_to_db\": true,\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1234-5678-901234efghij",
      "name": "Resposta Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Receber Dados": {
      "main": [
        [
          {
            "node": "Classificar Candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Candidato": {
      "main": [
        [
          {
            "node": "Email - APROVADO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - NÃO APROVADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - APROVADO": {
      "main": [
        [
          {
            "node": "Salvar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - NÃO APROVADO": {
      "main": [
        [
          {
            "node": "Salvar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Supabase": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-27T10:00:00.000Z",
  "updatedAt": "2025-01-27T10:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}